<div class="post-content">
  <div class="wrapper">

    <div class="post-header">
      <%_ if (post.cover) { _%><div class="post-image"><img src="" alt=""></div><%_ } _%>
      <%_ if (post.link || post.title){ _%>
      <div class="post-title">
        <%- partial('post/title', {class_name: 'article-title', post: post}) _%>
      </div>
      <%_ } _%>
      <div class="post-meta">
        <%- partial('post/date', {class_name: 'article-date', date_format: null, post: post}) _%>
        <%- partial('post/category', {post: post}) _%>
        <%- partial('post/tag', {post: post}) _%>
      </div>
    </div>

    <div class="post-body">
      <%- post.content _%>
    </div>

    <div class="post-footer">
      <%_ if (post.prev || post.next){ _%>
      <div class="post-navi">
        <span lass="prev">
          <%_ if (post.prev){ _%>
          <%= __('newer') %>:&nbsp;<a href="<%- url_for(post.prev.path) %>"><%= post.prev.title %></a>
          <%_ } _%>
        </span>
        <%_ if (post.next){ _%>
        <span class="next"><%= __('older') %>:&nbsp;<a
            href="<%- url_for(post.next.path) %>"><%= post.next.title %></a></span>
        <%_ } _%>
      </div>
      <%_ } _%>
    </div>

  </div>
</div>