<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%_
  var title = page.title;

  if (is_home()) {
    title = config.title + ' - ' + config.subtitle
  } else {

    if (is_archive()) {
      title = __('archive_a');

      if (is_month()) {
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()) {
        title += ': ' + page.year;
      }

    } else if (is_category()) {
      title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
      title = __('tag') + ': ' + page.tag;
    }

    title += ' - ' + config.title

  }
  _%>
  <title><%_ if (title){ _%><%= title %><%_ } _%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%_ if (config.highlight.enable){ _%>
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <%_ } _%>
  <%- css('css/style') _%>
  <%_ if (theme.baidu_analytics) { _%>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?<%= theme.baidu_analytics _%>";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <%_ } _%>
  <%_ if (theme.google_analytics) { _%>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.google_analytics _%>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '<%= theme.google_analytics _%>');
  </script>
  <%_ } _%>
</head>